@charset "UTF-8";
@font-face {
  font-display: swap;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/bebas-neue-v14-latin-regular.woff2") format("woff2");
}
/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v40-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans-v40-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v40-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/open-sans-v40-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
   Убираем внешние отступы body и двум другим тегам
  */
body,
:where(blockquote, figure) {
  margin: 0;
}

/**
   Убираем внутренние отступы слева тегам списков
  */
:where(ul, ol) {
  padding-left: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам
  */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

/**
   Убираем стандартный маркер маркированному списку
  */
:where(ul) {
  list-style: none;
}

/**
   Упрощаем работу с изображениями
  */
img {
  display: block;
  max-width: 100%;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
  /**
   Плавный скролл
  */
  scroll-behavior: smooth;
}

body {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
   Унифицированный интерлиньяж
  */
  line-height: 1;
}

/**
   Приводим к единому цвету svg-элементы
  */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 940px;
  margin: 0 auto;
}

header {
  background-image: url(../img/bg.webp);
  background-size: cover;
  background-position: bottom;
  width: 100%;
}
header .container {
  align-items: center;
}

.header__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.header__content h1 {
  text-transform: uppercase;
  font-family: "Bebas Neue";
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  letter-spacing: 5.709px;
  color: white;
  padding-top: 314px;
  margin: 0;
}
.header__content h2 {
  letter-spacing: 1px;
  padding-top: 6px;
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  margin: 0;
}

.header__logo {
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  height: 23px;
  width: 101.62px;
  margin-top: 41px;
}

.header__scroll {
  padding-top: 226px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3.7px;
  margin-bottom: 70px;
}

nav .container {
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  background-image: url(../img/logo-black.svg);
  background-repeat: no-repeat;
  height: 18px;
  width: 79.53px;
}

.nav__menu li {
  display: inline;
  margin-left: 30px;
  text-transform: uppercase;
  color: #48555b;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.091px;
  cursor: pointer;
}
.nav__menu li:hover {
  color: #00a4e5;
}

.about {
  padding-top: 60px;
}
.about__h1 {
  color: #48555b;
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.306px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.about__line {
  align-self: center;
  width: 50px;
  height: 2px;
  background-color: #00a4e5;
}
.about__content {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about__text-block {
  max-width: 460px;
}
.about__text-1 {
  color: #48555b;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.188px;
}
.about__text-2 {
  padding-top: 30px;
  color: #48555b;
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.188px;
}
.about__img-block {
  display: flex;
  flex-flow: row wrap;
  max-width: 480px;
}
.about__img-1 {
  width: 140px;
  height: 224px;
  margin-left: 20px;
  padding: 20px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0.188px;
  text-transform: uppercase;
  background-image: url(../img/plan.webp);
}
.about__img-2 {
  width: 140px;
  height: 224px;
  margin-left: 20px;
  padding: 20px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0.188px;
  text-transform: uppercase;
  background-image: url(../img/manage.webp);
}
.about__img-3 {
  width: 140px;
  height: 224px;
  margin-left: 20px;
  padding: 20px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0.188px;
  text-transform: uppercase;
  background-image: url(../img/build.webp);
}

.services {
  padding-top: 115px;
}
.services__header {
  display: flex;
  justify-content: space-between;
}
.services__header-title {
  min-width: 200px;
  color: #48555b;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.306px;
}
.services__header-title p {
  margin-bottom: 10px;
}
.services__header-title-line {
  width: 50px;
  height: 2px;
  background-color: #00a4e5;
}
.services__header-text {
  color: #48555b;
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.2px;
  padding-left: 100px;
}
.services__header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  min-width: 150px;
  background-color: #00a4e5;
  color: #fff;
}
.services__infographics {
  padding-top: 75px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.services__infographics-card {
  padding: 45px 20px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 330px;
  border: 1px solid #e6e6e6;
  background: #fff;
}
.services__infographics-card-title {
  padding-top: 25px;
  margin-bottom: 15px;
  color: #48555b;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.427px;
}
.services__infographics-card-text {
  color: #48555b;
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 176.923% */
  letter-spacing: 0.188px;
}
.services__infographics-card-img_1 {
  width: 70px;
  height: 75px;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  background-color: #fff;
  background-image: url(../img/c1.webp);
}
.services__infographics-card-img_2 {
  width: 70px;
  height: 75px;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  background-color: #fff;
  background-image: url(../img/c2.webp);
}
.services__infographics-card-img_3 {
  width: 70px;
  height: 75px;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  background-color: #fff;
  background-image: url(../img/c3.webp);
}