@import "_fonts";
@import "_normalize";

.container {
    display: flex;
    flex-direction: column;
    max-width: 940px;
    margin: 0 auto;
}

@import "_header";
@import "_nav";
@import "_about";
@import "_services";
